@charset "utf-8";
/* init css */
body {
	font-family:'나눔고딕','Nanum Gothic','맑은 고딕', serif;
}
.preload {
	opacity:0;
}
.wrap {}
#duration{
	width:960px;
	height:600px;
	position:absolute;
	top:50%; left:50%;
	margin-top:-300px;
	margin-left:-480px;
	overflow:hidden;
}
/* player css */
#nowtime {
	left:475px;
	top:5px;
	position:absolute;
	float: left;
}
#btns {
	left:5px;
	top:5px;
	position:absolute;
	float: left;
}
#mbtns {
	left:23px;
	top:5px;
	position:absolute;
	float: left;
}
#mbtns a {
	float: left;
}
#volume {
	float: left;
	height:15px;
}
#progressBar { 
	border:1px solid #aaa; 
	color:#fff; 
	width:295px; 
	height:17px;
	float: left;
	overflow:hidden;
	border-radius:5px;
	-webkit-box-shadow: 2px 2px 2px 0px rgba(207,207,207,1);
	-moz-box-shadow: 2px 2px 2px 0px rgba(207,207,207,1);
	box-shadow: 2px 2px 2px 0px rgba(207,207,207,1);
}
#progress {
	background:#E75353;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255,255,255,.2) 5px, rgba(255,255,255,.2) 10px) !important;
	height:20px;
	display:inline-block;
	height: inherit;
}
/* subtitle css */
.script {
	margin-top:0px;  font-weight:bold; }
.script2 {
	position:absolute; top:50%; left:50%; margin-top:-35px; margin-left:-221px; }
.script3 {
	position:absolute; top:50%; left:50%; margin-top:-35px; margin-left:-198px; }
.jp {
text-align:center;
font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;

}
.ko { text-align:center; }
/* member color css */
.member00 { color:#EE5D75; }
.member01 { color:#f8b500; }  
.member02 { color:#afdfe4; }
.member03 { color:#666699; }
.member04 { color:#0000ff; }
.member05 { color:#40e0d0; }
.member06 { color:#EF454A; }
.member07 { color:#ee82ee; }
.member08 { color:#008000; }
.member09 { color:#ff3399; }
.members1 { color:#EE5D75;}
.members2 { color:#EE5D75; font-size:30px; } 
.members3 { color:#EE5D75; font-size:30px; }
.blank { color:#FFFFFF; font-size:0px; }
/* member image css */
.member01_01 { background:url('http://img.startdash.cf/honoka.png') no-repeat center; width:282px; height:520px; position:absolute; bottom:0px; left:330px; z-index:9; }
.member02_01 { background:url('http://img.startdash.cf/eli.png') no-repeat center; width:282px; height:520px; position:absolute; bottom:40px; left:230px; z-index:2; }
.member03_01 { background:url('http://img.startdash.cf/kotori.png') no-repeat center; width:282px; height:520px; position:absolute; bottom:0px; left:520px; z-index:8; }
.member04_01 { background:url('http://img.startdash.cf/umi.png') no-repeat center; width:282px; height:520px; position:absolute; bottom:0px; left:190px; z-index:7; }
.member05_01 { background:url('http://img.startdash.cf/lin.png') no-repeat center; width:282px; height:520px; position:absolute; bottom:40px; left:600px; z-index:4; }
.member06_01 { background:url('http://img.startdash.cf/maki.png') no-repeat center; width:282px; height:520px; position:absolute; bottom:40px; left:430px; z-index:3;}
.member07_01 { background:url('http://img.startdash.cf/nozomi.png') no-repeat center; width:282px; height:520px; position:absolute; bottom:40px; left:100px; z-index:1;}
.member08_01 { background:url('http://img.startdash.cf/no.png') no-repeat center; width:282px; height:520px; position:absolute; bottom:0px; left:700px; z-index:6; }
.member09_01 { background:url('http://img.startdash.cf/nico.png') no-repeat center; width:282px; height:520px; position:absolute; bottom:0px; left:0px; z-index:5;}
.member_blank { backgrond:url('http://img.startdash.cf/blank.png') no-repeat center; width:0px; height:0px; position:absolute; bottom:0px; left:0px; z-index:0;}
/* member image css v3 */
.member01_03 { background:url('http://img.startdash.cf/honoka2.png') no-repeat center; width:282px; height:520px; position:absolute; bottom:0px; left:330px; z-index:9; }
.member02_03 { background:url('http://img.startdash.cf/eli2.png') no-repeat center; width:282px; height:520px; position:absolute; bottom:40px; left:150px; z-index:2; }
.member03_03 { background:url('http://img.startdash.cf/kotori2.png') no-repeat center; width:282px; height:520px; position:absolute; bottom:0px; left:520px; z-index:8; }
.member04_03 { background:url('http://img.startdash.cf/umi2.png') no-repeat center; width:282px; height:520px; position:absolute; bottom:0px; left:220px; z-index:7; }
.member05_03 { background:url('http://img.startdash.cf/lin2.png') no-repeat center; width:282px; height:520px; position:absolute; bottom:40px; left:600px; z-index:4; }
.member06_03 { background:url('http://img.startdash.cf/maki2.png') no-repeat center; width:282px; height:520px; position:absolute; bottom:40px; left:430px; z-index:3;}
.member07_03 { background:url('http://img.startdash.cf/nozomi2.png') no-repeat center; width:282px; height:520px; position:absolute; bottom:40px; left:90px; z-index:1;}
.member08_03 { background:url('http://img.startdash.cf/no2.png') no-repeat center; width:282px; height:520px; position:absolute; bottom:0px; left:700px; z-index:6; }
.member09_03 { background:url('http://img.startdash.cf/nico2.png') no-repeat center; width:282px; height:520px; position:absolute; bottom:0px; left:-50px; z-index:5;}
